@mixin backgroundGradient($color1, $color2) {
  background: $color1;
  background: -webkit-linear-gradient(left, $color1, $color2);
  background: -o-linear-gradient(left, $color1, $color2);
  background: -moz-linear-gradient(left, $color1, $color2);
  background: linear-gradient(to right, $color1, $color2);
}

@mixin backgroundGradientTop {
  background: rgba(255, 255, 255, 0.0);
  /* Old Browsers */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.0), #ffffff);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.0), #ffffff);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.0), #ffffff);
  /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), #ffffff);
  /*Standard*/
}