.contact {
  @include line-break;
  position: relative;
  padding-bottom: 64px;
  &--container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    &--info {
      text-align: left;
      margin-bottom: 40px;
      @include screenMedium {
        margin-bottom: auto;
        margin-right: 64px;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}

.map {
  margin: 32px auto 32px auto;
  height: 360px;
  max-width: 720px;
  background: #666;
  @include screenMedium {
    margin: 32px auto 96px auto;
  }
  &--title {
    margin-top: 64px;
  }
}